/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* debug */
.large-box, .small-box{
    height: 300px;
}

.big-box{
    height: 500px;
}

.box-header, 
.large-box, 
.small-box, 
.big-box,
.large-col,
.logo-ft,
button{
    border: 1px dashed black;
}

/* /debug */

/* COMMON */

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.flex{
    display: flex;
}

.pd20{
    padding: 20px 0px;
}

.bg-grey{
    background-color: #D3D3D3;
}

.bg-white{
    background-color: white;
    color: black;
}

.bg-black{
    background-color: black;
    color: white;
}

ul{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}



h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.description{
    font-size: 1.2rem;
    line-height: 2rem;
}

.btn{
    padding: 10px 20px;
    border-radius: 50px;
}

/* BONUS */

header .btn:hover{
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.menu-list li > a:hover{
    text-decoration: underline;
}

/* HEADER */

/* header-top */
header{
    background-color: #255EE9;
    
}

.header-nav{
    align-items: center;
    font-size: 1rem;
    
    /* debug */
}

.logo, .login{
    width: 20%;
    /* debug */
    border: 1px dashed black;
}

.login{
    text-align: right;
}

.menu{
    width: 60%;
    /* debug */
    border: 1px dashed black;
}

.logo, .login, .menu{
    padding: 10px;
}

.menu-list{
    justify-content: center;
    gap: 15px;

}

/* header-bottom */

.header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: bottom;
}

.box-header{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0px;
    text-align: center;
}

.header-button{
    justify-content: center;
    gap: 20px;
    padding: 50px;
}


/* MAIN */



.large-box{
    background-color: #1E90FF;
    width: 60%;
}

.small-box{
    background-color: #FFC0CB;
    width: 40%;
}

.big-box{
    background-color: #228B22;
}

/* FOOTER */

/* footer-top */

footer{
    background-color: #23272A;

}

.pdfooter{
    padding-top: 10px;
    padding-bottom: 20px;
}

.large-col{
    width: calc(100% / 5 * 2);
    background-color: #F08080;
    /* debug */
    height: 400px;
}

.small-col{
    width: calc(100% / 5);
    background-color: #20B2AA;
    /* debug */
    border: 1px dashed white;
}

hr{
    background-color: white;
    height: 2px;

}

/* footer-bottom */
.footer-bottom{
    padding-top: 20px;
}

.footer-bottom > div{
    background-color: #7FFFD4;
    padding: 10px 0px;
    justify-content: space-between;
}

.logo-ft, button{
    padding: 2px;
    background-color: #FFB6C1;

}