/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* COMMON */

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.flex{
    display: flex;
}

.pd20{
    padding: 20px 0px;
}

.bg-grey{
    background-color: #D3D3D3;
}

.bg-white{
    background-color: white;
    color: black;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-violet {
    background-color: #7289DA;
    color: white;
}

.gap15{
    gap: 15px;
}

ul{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

.description{
    font-size: 1.2rem;
    line-height: 2rem;
}

.btn{
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-small{
    font-size: 1rem;
}

.btn-large{
    font-size: 1.2rem;
}

/* BONUS */

.btn:hover{
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

li > a:hover{
    text-decoration: underline;
}

/* HEADER */

/* header-top */
header{
    background-color: #255EE9;
    padding-top: 10px;
    color: white
    
}

.header-nav{
    align-items: center;
    font-size: 1rem;
}

.logo, .login{
    width: 20%;
}

.login{
    text-align: right;
}

.menu{
    width: 60%;
}

.menu-list{
    justify-content: center;
}

/* header-bottom */

.header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-header{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0px;
    text-align: center;
}

.header-button{
    justify-content: center;
    padding: 50px;
}


/* MAIN */
main{
    color: black
}

.img-box{
    width: 60%;
}

.two-col{
    align-items: center;
}

.text-box{
    width: 40%;
}

.big-box{
    flex-direction: column;
    align-items: center;
}

.text-big-box{
    text-align: center;
}

.download{
    width: 50%;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}

.download div{
    padding: 50px 0px;
}

/* FOOTER */

/* footer-top */

footer{
    background-color: #23272A;
    color: white;
}

.pdfooter{
    padding-top: 40px;
    padding-bottom: 20px;
}

.large-col{
    width: calc(100% / 6 * 2);
}

.large-col h2{
    color: #7289DA;
    margin-bottom: 20px
}
.language img{
    width: 1.2rem;
}

.icon{
    padding: 20px 0px;
    color: white;
    font-size: 1.2rem;

}

.language{
    gap: 5px;
    align-items: center;
}

.nation, .language i{
    font-size: 0.7rem;
}

.small-col{
    width: calc(100% / 5);
    flex-direction: column;
}

.footer-nav{
    flex-direction: column;
    font-size: 0.9rem;
}

h4{
    color: #7289DA;
}

hr.container{
    border: 1px solid #7289da58;
}

/* footer-bottom */
.footer-bottom{
    padding-top: 20px;
}

.footer-bottom > div{
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo-ft, .footer-botom a{
    width: 20%;
}

